<!-- =====================================
     STUDY SPACE V3
     SHARED SIDEBAR COMPONENT
===================================== -->


<aside class="sidebar" id="sidebar">


    <!-- LOGO -->

<div class="sidebar-logo">

<button class="sidebar-toggle" onclick="toggleSidebar()">
☰
</button>


<div class="logo-icon">
☕︎
</div>


<h2>
Study Space
</h2>

</div>




    <!-- NAVIGATION -->

    <nav class="sidebar-nav">





        <!-- HOME -->

        <div class="nav-group">

            <p class="nav-title">
                HOME
            </p>


            <button onclick="goHome()">

                🖳 Desk

            </button>


        </div>









        <!-- PRODUCTIVITY -->

        <div class="nav-group">


            <p class="nav-title">
                PRODUCTIVITY
            </p>



            <button onclick="openPomodoro()">

            ⌛︎ Focus

            </button>




            <button onclick="openTasks()">

                ☑ Tasks

            </button>





            <button onclick="openCalendar()">

                🗓 Calendar

            </button>





            <button onclick="openPlanner()">

                ◔ Planner

            </button>



        </div>









        <!-- WORKSPACE -->

        <div class="nav-group">


            <p class="nav-title">
                WORKSPACE
            </p>





            <button onclick="openMusic()">

                ♬ Music

            </button>





            <button onclick="openNotes()">

                🗐 Notes

            </button>



        </div>









        <!-- PERSONAL -->

        <div class="nav-group">


            <p class="nav-title">
                PERSONAL
            </p>





            <button onclick="openBuddy()">

                ˙𐃷˙ Study Buddy

            </button>





            <button onclick="openGoals()">

                ⚽︎ Goals

            </button>





        </div>









        <!-- SYSTEM -->

        <div class="nav-group">


            <p class="nav-title">
                SYSTEM
            </p>





            <button onclick="openProgress()">

                ◔ Progress

            </button>





            <button onclick="openSettings()">

                ⏣ Settings

            </button>



        </div>





    </nav>









    <!-- BOTTOM -->

    <div class="sidebar-bottom">


        <button onclick="toggleTheme()" id="themeButton">

            ☾ Theme

        </button>



    </div>





</aside>